<div class="wizard-form col col-2 blue-gradient">
  <%= form_for @installation, class: "mx-auto sans-serif" do |f| %>
    <%= f.label "zipcode" %>
    <%= f.text_field :zipcode, maxlength: 5 %>
    <%= f.submit"Next Step"%>
  <% end %>
</div>
