<%= render "layouts/wizard_nav" %>

<div class="battery-wizard">

  <div class="row">
    <div class="col col-2">
      <p></p>
    </div>
    <%= render "installations/form" %>
    <div class="col col-6 mx2 documentation">
      <div class="section">
        <span class="button h4" tabindex="0">Why should you consider a battery? <i class="arrow down relative right"></i></span>
        <div class="section-text">
          <p class="h3">Offset Peak Electricity Demand</p>
          <p class="h6">
            Some regions of the United States, where a substantial amount of solar
            energy is produced, experience a rapid increase in demand for power
            when the sun sets. This phenomenon is known as the Duck Curve.<br>

            <%= image_tag "duck_curve.png", size: "500x400", class: "center" %><br>

            The Duck Curve shows that while the number of conventional power plants
            needed throughout the day has been reduced, the total capacity of conventional
            power plants has remained constant. By backing up your solar array
            with a battery you reduce peak demand on the electrical grid.
          </p>
        </div>
      </div>

      <div class="section">
        <span class="button h4" tabindex="0">What Is Calculated? <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          The battery calculator will use your location and historical electricity
          consumption to determine the solar array capacity required to produce
          enough energy to cover your total consumption needs, even during the
          worst months for solar production. Additionally, it will determine the
          minimum battery capacity required to meet your consumption needs through
          the night.
        </p>
      </div>

      <div class="section">
        <span class="button h4" tabindex="0">Data Sources <i class="arrow down relative right"></i></span>
        <p class="section-text h6">
          This calculator is powered by <a href="http://pvwatts.nrel.gov/">NREL's PVWatts Calculator</a>.
          NREL also provides solar radiation data, and utility rate data.
          The daily consumption profile was modelled using an aggregation of data 
          from various charts found through google.
        </p>
      </div>
    </div>
    <div class="col col-2">
      <p></p>
    </div>
  </div>

</div>
