<%= render "layouts/wizard_nav" %>

<div class="battery-wizard">

  <div class="row">
    <div class="col col-2">
      <p></p>
    </div>
    <%= render "installations/form" %>
    <div class="col col-6 mx2 documentation">
      <div class="section">
        <span class="button h4" tabindex="0">Why should you consider a battery? <i class="arrow down relative right"></i></span>
        <div class="section-text">
          <p class="h3">Offset Peak Electricity Demand</p>
          <%= image_tag "duck_curve.png", size: "300x300" %>
          <p class="h6">
            Some regions of the United States, where a substantial amount of solar
            energy is produced, experience a rapid increase in demand for power
            when the sun set. This phenomenon is known as the Duck Curve. The
            Duck Curve shows that while we have reduced the number of conventional
            power plants needed throughout the day, we haven't been able to reduce
            the total capacity of coal power plants recovered
          </p>
        </div>
      </div>

      <div class="section">
        <span class="button h4" tabindex="0">What We Calculate <i class="arrow down relative right"></i></span>
        <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>
      </div>

      <div class="section">
        <span class="button h4" tabindex="0">Data Sources <i class="arrow down relative right"></i></span>
        <p class="section-text h6">Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next 10.</p>
      </div>
    </div>
    <div class="col col-2">
      <p></p>
    </div>
  </div>

</div>
