<div class="row">
  <div class="col col-1">
    <p></p>
  </div>
  <div class="col col-10 documentation">
    <div class="method">
      <span class="button h4" tabindex="0">Add Consumption by Utility Bill<span class="h6"> (easiest) </span><i class="arrow down relative right"></i></span>
      <div class="method-section">
        <%= render "battery/consumption_by_utility" %>
      </div>
    </div>

    <p class="center">-- OR --</p>

    <div class="method">
      <span class="button h4" tabindex="0">Add Consumption by Appliance <i class="arrow down relative right"></i></span>
      <div class="method-section">
        <%= render "battery/consumption_by_appliance" %>
      </div>
    </div>

  </div>
  <div class="col col-1">
    <p></p>
  </div>
</div>
