<% @categories.each do |category| %>
<div class="section">
  <span class="button h4" tabindex="0"><%= category.title.capitalize %> <i class="arrow down relative right"></i></span>
  <table class="section-text data-table">
    <th>Appliance</th>
    <th>Quantity</th>
    <th>Average Monthly kWh</th>
    <th>Household kWh</th>
    <% category.appliances.each do |appliance| %>
    <tr>
      <td><%= appliance.name %></td>
      <td><%= number_field_tag "appliance[#{appliance.id}]", 0, min: 0%></td>
      <td><%= appliance.avg_monthly_kwh %></td>
      <td>0 kWh</td>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
<span class="h4 brown-btn to-step-3" id="next-step" tabindex="0">Next Step</span>
