---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=11111&array_type=1&azimuth=180&dataset=tmy3&losses=0&module_type=1&radius=0&system_capacity=4.0&tilt=40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '977'
      Etag:
      - W/"4ba195e01fa1bad9454a7b0c7b2a8880"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"11111","array_type":"1","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"1","radius":"0","system_capacity":"4.0","tilt":"40"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":18.25,"lon":-67.1500015258789,"elev":9.0,"tz":-4.0,"location":"785145","city":"\"EUGENIO
        MARIA DE HO\"","state":"PR","solar_resource_file":"785145.csv","distance":310014},"outputs":{"ac_monthly":[657.0142211914062,547.6658935546875,609.6620483398438,549.91162109375,477.51519775390625,445.74700927734375,493.3958435058594,557.209716796875,560.0343017578125,616.9432373046875,562.2159423828125,656.5623779296875],"poa_monthly":[185.58692932128906,154.8383331298828,172.46356201171875,155.65211486816406,135.7369842529297,127.53102111816406,140.7182159423828,158.40866088867188,159.04737854003906,175.5657501220703,158.94253540039062,185.9608612060547],"solrad_monthly":[5.986675262451172,5.529940605163574,5.563340663909912,5.188403606414795,4.378612518310547,4.251034259796143,4.539297103881836,5.109956741333008,5.301579475402832,5.6634111404418945,5.298084735870361,5.998737335205078],"dc_monthly":[684.9864501953125,571.7612915039062,636.4951171875,574.3093872070312,499.38726806640625,466.2917785644531,515.7362670898438,581.8897094726562,584.8143310546875,643.591064453125,586.8206787109375,684.1446533203125],"ac_annual":6733.87744140625,"solrad_annual":5.234088897705078,"capacity_factor":19.217687606811523}}'
  recorded_at: Mon, 26 Feb 2018 20:14:16 GMT
[...]
