---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '993'
      Etag:
      - W/"b76a8a6fc75389bd3197a628b562c0f6"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"80525"},"outputs":{"avg_dni":{"annual":5.36,"monthly":{"jan":4.26,"feb":4.71,"mar":5.32,"apr":5.7,"may":5.72,"jun":6.51,"jul":6.38,"aug":5.73,"sep":6.16,"oct":5.17,"nov":4.56,"dec":4.1}},"avg_ghi":{"annual":4.4,"monthly":{"jan":2.24,"feb":3.12,"mar":4.34,"apr":5.38,"may":6.1,"jun":6.62,"jul":6.39,"aug":5.6,"sep":4.91,"oct":3.55,"nov":2.52,"dec":2.01}},"avg_lat_tilt":{"annual":5.29,"monthly":{"jan":4.25,"feb":4.88,"mar":5.57,"apr":5.76,"may":5.74,"jun":5.86,"jul":5.81,"aug":5.7,"sep":5.97,"oct":5.25,"nov":4.58,"dec":4.06}}}}'
  recorded_at: Mon, 26 Feb 2018 22:25:41 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80525&array_type=0&azimuth=180&dataset=tmy3&losses=0&module_type=0&radius=0&system_capacity=8.7&tilt=30&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
      Etag:
      - W/"477b5e3335cb38a03390ee0219eb9be3"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525","array_type":"0","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"0","radius":"0","system_capacity":"8.7","tilt":"30","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.45000076293945,"lon":-105.01699829101562,"elev":1529.0,"tz":-7.0,"location":"724769","city":"\"FORT
        COLLINS (AWOS)\"","state":"CO","solar_resource_file":"724769.csv","distance":9250},"outputs":{"ac_monthly":[1285.4984130859375,1069.1190185546875,1568.2523193359375,1273.430419921875,1482.1326904296875,1529.791015625,1658.0242919921875,1516.18359375,1506.6014404296875,1199.5400390625,942.1547241210938,957.7716674804688],"poa_monthly":[149.92457580566406,128.56951904296875,197.11190795898438,157.88986206054688,190.70687866210938,197.82650756835938,223.0384521484375,201.67672729492188,196.2168426513672,150.0701141357422,111.09790802001953,113.66451263427734],"solrad_monthly":[4.836276531219482,4.591768741607666,6.358448505401611,5.26299524307251,6.151834964752197,6.594216823577881,7.194788932800293,6.505701065063477,6.540561199188232,4.84097146987915,3.703263521194458,3.6665971279144287],"dc_monthly":[1344.94384765625,1120.307861328125,1663.0120849609375,1354.156005859375,1555.20068359375,1601.71044921875,1730.56591796875,1582.283447265625,1572.2618408203125,1253.2298583984375,983.9304809570312,999.4486694335938],"ac_annual":15988.4990234375,"solrad_annual":5.520618915557861,"capacity_factor":20.978979110717773,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,342.967,2663.327,4797.287,4969.309,4228.836,4449.552,5883.044,3317.819,1240.994,212.276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,160.827,2921.915,4951.65,6126.826,6419.694,6530.149,6207.379,5075.446,3204.542,814.519,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,436.015,2458.52,2877.419,5736.652,7509.978,6669.698,6077.045,5040.557,3253.1,844.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,509.814,2612.724,4671.941,5784.824,6300.503[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      Etag:
      - W/"ab40801cdd6603201e8be483ac0cb645"
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":"80525"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"6604","utility_name":"Fort Collins
        Utilities","utility_info":[{"company_id":"6604","utility_name":"Fort Collins
        Utilities"}],"commercial":0.0737,"industrial":0.0562,"residential":0.0926}}'
  recorded_at: Mon, 26 Feb 2018 22:25:43 GMT
recorded_with: VCR 4.0.0
