---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '824'
      Etag:
      - W/"b76a8a6fc75389bd3197a628b562c0f6"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"80525"},"outputs":{"avg_dni":{"annual":5.36,"monthly":{"jan":4.26,"feb":4.71,"mar":5.32,"apr":5.7,"may":5.72,"jun":6.51,"jul":6.38,"aug":5.73,"sep":6.16,"oct":5.17,"nov":4.56,"dec":4.1}},"avg_ghi":{"annual":4.4,"monthly":{"jan":2.24,"feb":3.12,"mar":4.34,"apr":5.38,"may":6.1,"jun":6.62,"jul":6.39,"aug":5.6,"sep":4.91,"oct":3.55,"nov":2.52,"dec":2.01}},"avg_lat_tilt":{"annual":5.29,"monthly":{"jan":4.25,"feb":4.88,"mar":5.57,"apr":5.76,"may":5.74,"jun":5.86,"jul":5.81,"aug":5.7,"sep":5.97,"oct":5.25,"nov":4.58,"dec":4.06}}}}'
  recorded_at: Tue, 27 Feb 2018 00:58:06 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80525&array_type=0&azimuth=180&dataset=tmy3&losses=0&module_type=0&radius=0&system_capacity=8.8&tilt=30&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '823'
      Etag:
      - W/"723cc23561f21e062034bbeead17214e"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525","array_type":"0","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"0","radius":"0","system_capacity":"8.8","tilt":"30","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.45000076293945,"lon":-105.01699829101562,"elev":1529.0,"tz":-7.0,"location":"724769","city":"\"FORT
        COLLINS (AWOS)\"","state":"CO","solar_resource_file":"724769.csv","distance":9250},"outputs":{"ac_monthly":[1300.2742919921875,1081.408203125,1586.27734375,1288.0667724609375,1499.1690673828125,1547.375732421875,1677.081787109375,1533.611328125,1523.91943359375,1213.3272705078125,952.9840698242188,968.7811279296875],"poa_monthly":[149.92457580566406,128.56951904296875,197.11190795898438,157.88986206054688,190.70687866210938,197.82650756835938,223.0384521484375,201.67672729492188,196.2168426513672,150.0701141357422,111.09790802001953,113.66451263427734],"solrad_monthly":[4.836276531219482,4.591768741607666,6.358448505401611,5.26299524307251,6.151834964752197,6.594216823577881,7.194788932800293,6.505701065063477,6.540561199188232,4.84097146987915,3.703263521194458,3.6665971279144287],"dc_monthly":[1360.4034423828125,1133.1844482421875,1682.1278076171875,1369.720703125,1573.075927734375,1620.1212158203125,1750.45703125,1600.4698486328125,1590.332763671875,1267.6348876953125,995.2405395507812,1010.9371948242188],"ac_annual":16172.275390625,"solrad_annual":5.520618915557861,"capacity_factor":20.978979110717773,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,346.909,2693.94,4852.428,5026.427,4277.443,4500.697,5950.666,3355.955,1255.259,214.716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162.675,2955.5,5008.565,6197.25,6493.484,6605.209,6278.729,5133.785,3241.376,823.881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,441.026,2486.779,2910.493,5802.59,7596.299,6746.361,6146.897,5098.495,3290.492,854.586,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,515.674,2642.755,4725.642,5851.316,6372.923,[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '822'
      Etag:
      - W/"ab40801cdd6603201e8be483ac0cb645"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"6604","utility_name":"Fort Collins
        Utilities","utility_info":[{"company_id":"6604","utility_name":"Fort Collins
        Utilities"}],"commercial":0.0737,"industrial":0.0562,"residential":0.0926}}'
  recorded_at: Tue, 27 Feb 2018 00:58:09 GMT
recorded_with: VCR 4.0.0
