<div class="hero">
  <%= image_tag "sun_pan_hero.jpg" %>
</div>
<% if current_user %>
<%= link_to "Solar Installation and Battery Calculator", new_installation_path %>
<% else %>
<%= link_to "Solar Installation and Battery Calculator", new_installation_path, data: {confirm: "You won't be able to save the installation unless you're signed in. Continue?"} %>
<% end %>
<p>
  There are plenty of solar array calculators out there, BatteryWiz is different.
  BatteryWiz will determine the required solar array capacity to power your
  household, plus it simulates your hour by hour consumption and determines the
  minimum battery capacity to power the household through the night.
</p>
<p>
  Battery storage is the future of solar. As solar energy production increases the
  demand for energy storage will continue to rise.
</p>
