<div class="hero">
  <%= image_tag "sun_pan_hero.jpg" %>
</div>
<%= link_to "Solar Installation Calculator", new_installation_path %>
<p>To be the first to enter the cosmos, to engage, single-handed, in an unprecedented duel with nature—could one dream of anything more?</p>
<p>That's one small step for [a] man, one giant leap for humankind.</p>
<p>We want to explore. We’re curious people. Look back over history, people have put their lives at stake to go out and explore … We believe in what we’re doing. Now it’s time to go.</p>
