<div class="top-nav table">
  <ul>
    <li><a href="/installation/new">Location <%= image_tag "256_location.png" %></a> </li>
    <li><a href="/consumption">Consumption <%= image_tag "256_ecology-lightbulb.png" %></a></li>
    <li><a href="/system">Solar System <%= image_tag "256_solar-panel.png" %></a></li>
    <li class="active"><a href="/summary">System Summary <%= image_tag "256_piggy-bank.png" %></a></li>
  </ul>
</div>

<div class="row">
  <div class="col col-2">
    <p></p>
  </div>
  <div class="col col-8">
    <div class="row">
      <div class="col col-6">
        <p class="h4">Solar System Summary</p>
        <p class="h6 sans-serif">
          Solar System Capacity: <br>
          Battery Capacity: <br>
          Azimuth Angle: <br>
          Panel Tilt: <br>
          Array Type: <br>
          Module Type: <br>
          Losses:
        </p>
      </div>
      <div class="col col-6">
        <p class="h4">Location Summary</p>
        <p class="h6 sans-serif">
          Installation Address: <br>
          Weather Station: <br>
          Station City: <br>
          Station State: <br>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-12" style="background-color: grey; height: 300px;">
        <p class="center h1">GRAPH</p>
      </div>
    </div>
  </div>
</div>
