---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=99501
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
      Etag:
      - W/"51bd78f42d0694b2013febcc66e385a7"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"99501"},"outputs":{"avg_dni":"no data","avg_ghi":"no
        data","avg_lat_tilt":"no data"}}'
  recorded_at: Thu, 01 Mar 2018 14:40:38 GMT
recorded_with: VCR 4.0.0
