---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80525&array_type=1&azimuth=180&dataset=tmy3&losses=0&module_type=1&radius=0&system_capacity=4.0&tilt=40&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
      Etag:
      - W/"551685deb5c40582e1eeb3549e9ba192"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525","array_type":"1","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"1","radius":"0","system_capacity":"4.0","tilt":"40","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.45000076293945,"lon":-105.01699829101562,"elev":1529.0,"tz":-7.0,"location":"724769","city":"\"FORT
        COLLINS (AWOS)\"","state":"CO","solar_resource_file":"724769.csv","distance":9250},"outputs":{"ac_monthly":[634.7371215820312,513.1649169921875,729.2421264648438,571.2511596679688,653.6485595703125,663.8070678710938,730.182373046875,686.7420654296875,703.01904296875,572.476806640625,459.0350341796875,478.1581115722656],"poa_monthly":[165.39556884765625,136.7621612548828,201.6344757080078,154.9854736328125,181.5970458984375,185.21083068847656,210.0403289794922,195.80194091796875,198.08416748046875,156.74000549316406,119.73503875732422,125.35672760009766],"solrad_monthly":[5.335340976715088,4.884362697601318,6.504337787628174,5.166182518005371,5.857969284057617,6.173694133758545,6.775494575500488,6.316191673278809,6.6028056144714355,5.056128978729248,3.9911680221557617,4.043765544891357],"dc_monthly":[669.6094970703125,541.49462890625,777.6024780273438,607.3308715820312,684.8238525390625,694.2472534179688,762.3869018554688,716.8705444335938,735.6458740234375,600.2151489257812,480.22698974609375,499.28546142578125],"ac_annual":7395.4619140625,"solrad_annual":5.558953762054443,"capacity_factor":21.105772018432617,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,201.697,1418.148,2448.022,2460.815,2088.655,2138.207,2980.158,1618.446,625.708,117.049,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,88.33,1582.633,2554.677,3112.374,3266.497,3317.261,3154.121,2616.988,1726.282,484.547,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,257.464,1301.35,1424.589,2866.958,3636.364,3320.702,3083.469,2583.485,1732.168,493.803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,301.261,1381.532,2353.902,2878.128,3112.656[...]
