<div class="top-nav table">
  <ul>
    <li>Location <%= image_tag "256_location.png" %></li>
    <li>Consumption <%= image_tag "256_ecology-lightbulb.png" %></li>
    <li>Solar System <%= image_tag "256_solar-panel.png" %></li>
    <li class="active">System Summary <%= image_tag "256_piggy-bank.png" %></li>
  </ul>
</div>
