.documentation {
  .section-text {
    margin-top: 0;
    font-family: $header-font-family2;
    display: none;
    word-wrap: normal;
  }
  .button {
    background: linear-gradient(-71deg, white 5%, rgba($eco-blue, 0.3), rgba($eco-blue, 0.5));
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0 3px 2px -2px $eco-blue;
    padding: 1px 10px 1px 3px;
    font-family: $body-font-family2;
    text-align: left;
    border: none;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    margin: 10px 0;
  }
  .button:hover {
    cursor: pointer;
  }
  i {
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 2px 2px 2px 2px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}
