form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(60deg, rgba($eco-blue, 0.5) 10%, white);
  padding: 15px;
  border-radius: 10px;
  label {
    font-size: 0.6rem;
  }
  input, select {
    margin-bottom: 10px;
    width: 60px;
  }
}
