$eco-green: #24AA6A;
$body-font-family: 'Open Sans Condensed', sans-serif;
$body-font-family2: 'Merriweather', serif;
$header-font-family: 'Open Sans', sans-serif;
$header-font-family2: 'Montserrat', sans-serif;
