$eco-lite-green: #28D537;
$eco-green: #25BF72;
$eco-tan: #EAF0CE;
$eco-brown: #BABF95;
$eco-blue: #9AC2C9;
$body-font-family: 'Open Sans Condensed', sans-serif;
$body-font-family2: 'Merriweather', serif;
$header-font-family: 'Open Sans', sans-serif;
$header-font-family2: 'Montserrat', sans-serif;

body {
  font-family: $body-font-family2;
}
.window {
  max-width: 1000px;
}
.main-content {
  min-height: 500px;
}

.hero {
  vertical-align: bottom;
  overflow: hidden;
  img {
    height: auto;
    max-width: 100%;
  }
}

.serif {
  font-family: $body-font-family2;
}

.sans-serif {
  font-family: $header-font-family2;
}
