---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '976'
      Etag:
      - W/"ab40801cdd6603201e8be483ac0cb645"
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":"80525"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"6604","utility_name":"Fort Collins
        Utilities","utility_info":[{"company_id":"6604","utility_name":"Fort Collins
        Utilities"}],"commercial":0.0737,"industrial":0.0562,"residential":0.0926}}'
  recorded_at: Mon, 26 Feb 2018 22:26:08 GMT
recorded_with: VCR 4.0.0
