<footer class="clearfix">
  <div class="row">
    <div class="col col-6 px3">
      <p class="h6"><span class="h4">BatteryWiz</span> Estimates solar energy production, required battery capacity and cost of energy for photovoltaic (PV) energy systems throughout the US. The calculator is powered by <a href="http://pvwatts.nrel.gov/">NREL's PVWatts Calculator</a> and utility data provided by <a href="https://openei.org/wiki/Main_Page">OpenEI</a>.</p>

    </div>
    <div class="col col-6 px4">
      <div class="row">
        <p class="h6">Dinosaurs are extinct today because they lacked opposable thumbs and the brainpower to build a space program.</p>
      </div>
      <div class="social row">
        <a href="https://github.com/Maxscores"><%= image_tag "__github.png" %></a>
        <a href="https://www.linkedin.com/in/maxfieldstackhouse/"><%= image_tag "__linkedin.png" %></a>
        <a href="https://medium.com/@maxstackhouse"><%= image_tag "__musteus.png" %></a>
      </div>
    </div>
  </div>
</footer>
