<header>
  <div class="title">
    <%= image_tag "64_ecology-lightbulb.png" %>
    <span class="h1">Solar Calc</span>
  </div>
  <div class="links">
    <%= link_to "Home" %>
    <%= link_to "Sign Up" %>
    <%= link_to "Login" %>
  </div>
</header>
