<header>
  <div class="title">
    <a href="/">
    <%= image_tag "64_solar-panel.png" %>
    <span class="h1">Solbat</span>
    </a>
  </div>
  <div class="links">
    <%= link_to "Home", root_path %>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  </div>
</header>
