<header>
  <div class="title">
    <a href="/">
    <%= image_tag "64_ecology-lightbulb.png" %>
    <span class="h1">Solar Calc</span>
    </a>
  </div>
  <div class="links">
    <%= link_to "Home", root_path %>
    <%= link_to "Sign Up" %>
    <%= link_to "Login" %>
  </div>
</header>
