---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      Etag:
      - W/"b76a8a6fc75389bd3197a628b562c0f6"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"80525"},"outputs":{"avg_dni":{"annual":5.36,"monthly":{"jan":4.26,"feb":4.71,"mar":5.32,"apr":5.7,"may":5.72,"jun":6.51,"jul":6.38,"aug":5.73,"sep":6.16,"oct":5.17,"nov":4.56,"dec":4.1}},"avg_ghi":{"annual":4.4,"monthly":{"jan":2.24,"feb":3.12,"mar":4.34,"apr":5.38,"may":6.1,"jun":6.62,"jul":6.39,"aug":5.6,"sep":4.91,"oct":3.55,"nov":2.52,"dec":2.01}},"avg_lat_tilt":{"annual":5.29,"monthly":{"jan":4.25,"feb":4.88,"mar":5.57,"apr":5.76,"may":5.74,"jun":5.86,"jul":5.81,"aug":5.7,"sep":5.97,"oct":5.25,"nov":4.58,"dec":4.06}}}}'
  recorded_at: Wed, 28 Feb 2018 17:03:06 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80525&array_type=0&azimuth=180&dataset=tmy3&losses=0&module_type=0&radius=0&system_capacity=8.41&tilt=30&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
      Etag:
      - W/"8e279acbffdd771df3df1365d6119f14"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525","array_type":"0","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"0","radius":"0","system_capacity":"8.41","tilt":"30","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.45000076293945,"lon":-105.01699829101562,"elev":1529.0,"tz":-7.0,"location":"724769","city":"\"FORT
        COLLINS (AWOS)\"","state":"CO","solar_resource_file":"724769.csv","distance":9250},"outputs":{"ac_monthly":[1242.64892578125,1033.4822998046875,1515.9779052734375,1230.981689453125,1432.728759765625,1478.79833984375,1602.755615234375,1465.6446533203125,1456.3817138671875,1159.5545654296875,910.7490844726562,925.8460693359375],"poa_monthly":[149.92457580566406,128.56951904296875,197.11190795898438,157.88986206054688,190.70687866210938,197.82650756835938,223.0384521484375,201.67672729492188,196.2168426513672,150.0701141357422,111.09790802001953,113.66451263427734],"solrad_monthly":[4.836276531219482,4.591768741607666,6.358448505401611,5.26299524307251,6.151834964752197,6.594216823577881,7.194788932800293,6.505701065063477,6.540561199188232,4.84097146987915,3.703263521194458,3.6665971279144287],"dc_monthly":[1300.1131591796875,1082.9642333984375,1607.578857421875,1309.017578125,1503.3604736328125,1548.3204345703125,1672.8792724609375,1529.541015625,1519.85302734375,1211.4561767578125,951.1331176757812,966.1337890625],"ac_annual":15455.548828125,"solrad_annual":5.520618915557861,"capacity_factor":20.978979110717773,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,331.534,2574.55,4637.377,4803.665,4087.875,4301.234,5686.943,3207.225,1199.628,205.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,155.466,2824.517,4786.595,5922.598,6205.704,6312.478,6000.466,4906.265,3097.724,787.368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,421.481,2376.569,2781.505,5545.43,7259.645,6447.375,5874.478,4872.539,3144.663,816.713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,492.821,2525.633,4516.209,5591.997,6090.486[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '989'
      Etag:
      - W/"ab40801cdd6603201e8be483ac0cb645"
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":"80525"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"6604","utility_name":"Fort Collins
        Utilities","utility_info":[{"company_id":"6604","utility_name":"Fort Collins
        Utilities"}],"commercial":0.0737,"industrial":0.0562,"residential":0.0926}}'
  recorded_at: Wed, 28 Feb 2018 17:03:08 GMT
recorded_with: VCR 4.0.0
