---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/solar/solar_resource/v1.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '992'
      Etag:
      - W/"b76a8a6fc75389bd3197a628b562c0f6"
    body:
      encoding: UTF-8
      string: '{"version":"1.0.0","warnings":[],"errors":[],"metadata":{"sources":["Perez-SUNY/NREL,
        2012"]},"inputs":{"address":"80525"},"outputs":{"avg_dni":{"annual":5.36,"monthly":{"jan":4.26,"feb":4.71,"mar":5.32,"apr":5.7,"may":5.72,"jun":6.51,"jul":6.38,"aug":5.73,"sep":6.16,"oct":5.17,"nov":4.56,"dec":4.1}},"avg_ghi":{"annual":4.4,"monthly":{"jan":2.24,"feb":3.12,"mar":4.34,"apr":5.38,"may":6.1,"jun":6.62,"jul":6.39,"aug":5.6,"sep":4.91,"oct":3.55,"nov":2.52,"dec":2.01}},"avg_lat_tilt":{"annual":5.29,"monthly":{"jan":4.25,"feb":4.88,"mar":5.57,"apr":5.76,"may":5.74,"jun":5.86,"jul":5.81,"aug":5.7,"sep":5.97,"oct":5.25,"nov":4.58,"dec":4.06}}}}'
  recorded_at: Wed, 28 Feb 2018 02:35:40 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80525&array_type=0&azimuth=180&dataset=tmy3&losses=0&module_type=0&radius=0&system_capacity=8.77&tilt=30&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '991'
      Etag:
      - W/"b313b48ec26ade096e753eea8559e567"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80525","array_type":"0","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"0","radius":"0","system_capacity":"8.77","tilt":"30","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.45000076293945,"lon":-105.01699829101562,"elev":1529.0,"tz":-7.0,"location":"724769","city":"\"FORT
        COLLINS (AWOS)\"","state":"CO","solar_resource_file":"724769.csv","distance":9250},"outputs":{"ac_monthly":[1295.8416748046875,1077.7216796875,1580.870849609375,1283.6763916015625,1494.0596923828125,1542.0999755859375,1671.364501953125,1528.383056640625,1518.7242431640625,1209.191162109375,949.7347412109375,965.4782104492188],"poa_monthly":[149.92457580566406,128.56951904296875,197.11190795898438,157.88986206054688,190.70687866210938,197.82650756835938,223.0384521484375,201.67672729492188,196.2168426513672,150.0701141357422,111.09790802001953,113.66451263427734],"solrad_monthly":[4.836276531219482,4.591768741607666,6.358448505401611,5.26299524307251,6.151834964752197,6.594216823577881,7.194788932800293,6.505701065063477,6.540561199188232,4.84097146987915,3.703263521194458,3.6665971279144287],"dc_monthly":[1355.7659912109375,1129.3212890625,1676.3929443359375,1365.05126953125,1567.7135009765625,1614.59716796875,1744.489501953125,1595.014892578125,1584.9111328125,1263.314453125,991.8474731445312,1007.4903564453125],"ac_annual":16117.142578125,"solrad_annual":5.520618915557861,"capacity_factor":20.978979110717773,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,345.726,2684.757,4835.886,5009.292,4262.861,4485.354,5930.379,3344.514,1250.979,213.984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,162.121,2945.424,4991.491,6176.123,6471.347,6582.691,6257.324,5116.284,3230.326,821.073,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,439.523,2478.301,2900.571,5782.809,7570.403,6723.362,6125.942,5081.114,3279.275,851.673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,513.917,2633.746,4709.532,5831.369,6351[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80525
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '990'
      Etag:
      - W/"ab40801cdd6603201e8be483ac0cb645"
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":"80525"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"6604","utility_name":"Fort Collins
        Utilities","utility_info":[{"company_id":"6604","utility_name":"Fort Collins
        Utilities"}],"commercial":0.0737,"industrial":0.0562,"residential":0.0926}}'
  recorded_at: Wed, 28 Feb 2018 02:35:42 GMT
recorded_with: VCR 4.0.0
