---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/pvwatts/v5.json?address=80301&array_type=1&azimuth=180&dataset=tmy3&losses=0&module_type=1&radius=0&system_capacity=4.0&tilt=40&timeframe=hourly
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '827'
      Etag:
      - W/"02246f66d8aecb6f408c83456cc18712"
    body:
      encoding: ASCII-8BIT
      string: '{"inputs":{"address":"80301","array_type":"1","azimuth":"180","dataset":"tmy3","losses":"0","module_type":"1","radius":"0","system_capacity":"4.0","tilt":"40","timeframe":"hourly"},"errors":[],"warnings":[],"version":"1.3.0","ssc_info":{"version":45,"build":"Linux
        64 bit GNU/C++ Jul  7 2015 14:24:09"},"station_info":{"lat":40.130001068115234,"lon":-105.23999786376953,"elev":1689.0,"tz":-7.0,"location":"724699","city":"\"BROOMFIELD/JEFFCO
        [BOULDER - SURFRAD]\"","state":"CO","solar_resource_file":"724699.csv","distance":9534},"outputs":{"ac_monthly":[519.9957885742188,511.663818359375,632.4813842773438,663.4769287109375,673.97216796875,625.5966186523438,624.6430053710938,639.447265625,636.2317504882812,606.7138671875,509.4306945800781,509.4686584472656],"poa_monthly":[135.77903747558594,136.01702880859375,172.07330322265625,181.0430450439453,185.826904296875,177.51197814941406,179.44775390625,182.2056121826172,179.2454376220703,167.3966064453125,135.13946533203125,131.20938110351562],"solrad_monthly":[4.379969120025635,4.85775089263916,5.550751686096191,6.034768104553223,5.994416236877441,5.9170660972595215,5.788637161254883,5.877600193023682,5.974847793579102,5.399890422821045,4.504648685455322,4.232560634613037],"dc_monthly":[545.4118041992188,541.400390625,675.321044921875,700.01611328125,705.4527587890625,654.3947143554688,653.0399169921875,668.308837890625,665.6765747070312,635.3403930664062,534.1744995117188,531.8952026367188],"ac_annual":7153.12158203125,"solrad_annual":5.376075744628906,"capacity_factor":20.414161682128906,"ac":[0.0,0.0,0.0,0.0,0.0,0.0,0.0,256.558,1308.989,2406.672,3249.871,3406.712,3512.858,2432.748,1546.205,679.249,261.94,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.353,406.618,615.731,638.772,2406.36,818.031,618.199,593.155,351.759,96.782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,252.517,1071.677,2265.085,2955.355,2695.734,3046.296,2701.317,1520.841,783.241,102.805,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,129.197,735.652,1724.376,2582.122,3022.207,3057.024,[...]
- request:
    method: get
    uri: https://developer.nrel.gov/api/utility_rates/v3.json?address=80301
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<NREL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '826'
      Etag:
      - W/"a6c939c0567042307ba42702f81ecff0"
    body:
      encoding: UTF-8
      string: '{"inputs":{"address":"80301"},"errors":[],"warnings":[],"version":"3.1.0","metadata":{"sources":["Ventyx
        Research (2012)"]},"outputs":{"company_id":"15466","utility_name":"Public
        Service Co of Colorado","utility_info":[{"company_id":"15466","utility_name":"Public
        Service Co of Colorado"}],"commercial":0.0916,"industrial":0.0604,"residential":0.1105}}'
  recorded_at: Tue, 27 Feb 2018 00:58:02 GMT
recorded_with: VCR 4.0.0
